body{
	background-color: #CCCCFF;
	font-size: 14pt;
	font-weight: bold;
}

h1{
	font-size: 32pt;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

.content-box{
	
}
.controls{
	width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

fieldset{
	border: 5px solid;
	width: fit-content;
    display: inline-block;
}

textarea{
	width: 90%;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}