body{
	background-image: url("../images/background-movie.png");
	margin: 0;
	padding: 0;
	font-family: Verdana, Tahoma;
	font-size: 8pt;
}

.banner{
	width: 100%;
	height: 50px;
	background-image: url("../images/bannerbg.png");
}

.banner > img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1{
	text-shadow: 3px 3px #999999;
	font-family: Verdana, Tahoma;
	font-size: 24pt;
	text-align: center;
}
.content{
	border: 4px solid gray;
	border-radius: 20px;
	max-width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.left-content{
	float: left;
	width: 550px;
	column-count: 2;
	column-width: 47%;
	column-gap: 2%;
}

.header-review{
	column-span: all;
	background: url("../images/rbg.png") repeat-x;
	font-size: 48pt;
	font-weight: bold;
	color: red;
	display: flex;
}

.review-box{
	padding: 2%;
	display: inline-block;
}

.review-box > p{
	display: flex;
}

.quote-box{
	background-color: #E8DC9B;
	border: 2px solid gray;
	border-radius: 10px;
	padding: 8px;
	font-size: 8px;
	font-weight: bold;
	overflow: auto;
}

.quote-box > img{
	float: left;
	margin-right: 5px;
	
}

.right-content{
	float: right;
	width: 250px;
	background-color: #A2B964;
	font-family: Arial;
	font-size: 8pt;
}

dl{
	margin: 0;
	padding: 8pt;
}
dl dt{
	font-weight: bold;
}
dl dd{
	margin-bottom: 10pt;
}

dl dd ul{
	list-style-type: none;
	padding: 0;
}

.bottom-content{
	clear: both;
	column-span: all; 
    text-align: center;
	background-color: #A2B964;
}

.validate{
	opacity: 0.5;
	position: absolute;
	right: 0px;
}